#header {
  height: 400px;
  width: 100%;
  position: absolute;
  background-color: #70AE98;
  background-image: url("https://www.transparenttextures.com/patterns/food.png");  
  text-align: center;
  top: 120px;
  padding: 1em;
}

.name {
  margin-top: 0px;
}

