nav {
position: fixed;
height: 120px;
width: 100%; 
z-index: 1030;
background-color:darkcyan;
color: #FFFF;
padding: 1.5em;
top: 0;
}

#title {
  font-family: 'Bungee', cursive;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}