@media only screen and (min-width: 940px) {
  #header {
    max-width: 30%;
    margin-left: 30px;
    margin-top: 100px;
    /* margin-top: 40px; */
  }

  .container {
    /* position: static;
    margin-top: 90px; */
    position: unset;
    /* margin: initial; */
    max-width: 60%;
    /* display: flex; */
    margin-right: 50px;
    margin-top: 120px;
  }

  .flex-container {
    background-color: #ECBE7A;
    background-image: none;
  }

  /* .container .new-tweet {
    position: static;
  } */
  .desktop-container {
    flex-direction: column;
  }
}
.desktop-container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
